<h1 class="text-3xl font-bold text-theme-dark dark:text-theme-white mb-6">02 Typography</h1>
<div class="grid grid-cols-1 md:grid-cols-2 gap-12">
  <!-- Left column -->
  <div>
    <div class="mb-8">
      <div class="text-theme-gray-light dark:text-theme-white flex gap-4 text-sm">
        <span>Plus Jakarta Sans</span>
        <span class="text-theme-dark dark:text-theme-white">Bold</span>
        <span>24px</span>
        <span>30px</span>
        <span>Line</span>
      </div>
      <p class="text-xl font-bold text-theme-dark dark:text-theme-white">Heading (XL)</p>
    </div>
    <div class="mb-8">
      <div class="text-theme-gray-light dark:text-theme-white flex gap-4 text-sm">
        <span>Plus Jakarta Sans</span>
        <span class="text-theme-dark dark:text-theme-white">Bold</span>
        <span>18px</span>
        <span>23px</span>
        <span>Line</span>
      </div>
      <p class="text-lg font-bold text-theme-dark dark:text-theme-white">Heading (L)</p>
    </div>
    <div class="mb-8">
      <div class="text-theme-gray-light dark:text-theme-white flex gap-4 text-sm">
        <span>Plus Jakarta Sans</span>
        <span class="text-theme-dark dark:text-theme-white">Bold</span>
        <span>15px</span>
        <span>19px</span>
        <span>Line</span>
      </div>
      <p class="text-base font-bold text-theme-dark dark:text-theme-white">Heading (M)</p>
    </div>
    <div>
      <div class="text-theme-gray-light dark:text-theme-white flex gap-4 text-sm">
        <span>Plus Jakarta Sans</span>
        <span class="text-theme-dark dark:text-theme-white">Bold</span>
        <span>12px</span>
        <span>15px</span>
        <span>Line 2,4px Kerning</span>
      </div>
      <p class="text-theme-gray-light dark:text-theme-white text-base font-bold tracking-widest">Heading (S)</p>
    </div>
  </div>
  <!-- Right column -->
  <div>
    <div class="mb-8">
      <div class="text-theme-gray-light dark:text-theme-white flex gap-4 text-sm">
        <span>Plus Jakarta Sans</span>
        <span class="text-theme-dark dark:text-theme-white">Medium</span>
        <span>13px</span>
        <span>23px</span>
        <span>Line</span>
      </div>
      <p class="font-medium text-sm text-theme-charcoal dark:text-theme-white">
        Body (L) - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula
        sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus
        metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.
      </p>
    </div>
    <div>
      <div class="text-theme-gray-light dark:text-theme-white flex gap-4 text-sm">
        <span>Plus Jakarta Sans</span>
        <span class="text-theme-dark dark:text-theme-white">Bold</span>
        <span>12px</span>
        <span>15px</span>
        <span>Line</span>
      </div>
      <p class="font-bold text-xs text-theme-charcoal dark:text-theme-white">
        Body (M) - - Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula
        sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus
        metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.
      </p>
    </div>
  </div>
</div>
