<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
  <!-- Subtask Checkbox Column -->
  <div class="mb-8">
    <h2 class="text-lg font-semibold text-theme-gray-light dark:text-theme-white mb-4">Subtask Checkbox</h2>
    <div class="space-y-4">
      <!-- Idle Checkbox -->
      <div class="flex items-center space-x-4 bg-theme-light-gray dark:bg-theme-darker py-2.5 px-4 rounded-md transition hover:bg-theme-primary/25 dark:hover:bg-theme-primary/25">
        <input
          type="checkbox"
          id="checkbox-idle"
          class="form-checkbox text-theme-primary dark:bg-theme-charcoal w-4 h-4 border border-theme-gray-light/25 focus:ring-0 focus:ring-offset-0" />
        <label
          for="checkbox-idle"
          class="w-full text-theme-dark dark:text-theme-white">
          Idle
        </label>
      </div>
      <!-- Hovered Checkbox -->
      <div class="flex items-center space-x-4 bg-theme-primary/25 py-2.5 px-4 rounded-md">
        <input
          type="checkbox"
          id="checkbox-hovered"
          class="form-checkbox w-4 h-4 text-theme-primary dark:bg-theme-charcoal border border-theme-gray-light/25 focus:ring-0 focus:ring-offset-0" />
        <label
          for="checkbox-hovered"
          class="w-full text-theme-dark dark:text-theme-white">
          Hovered
        </label>
      </div>
      <!-- Completed Checkbox -->
      <div class="flex items-center space-x-4 bg-theme-light-gray dark:bg-theme-darker py-2.5 px-4 rounded-md transition hover:bg-theme-primary/25 dark:hover:bg-theme-primary/25">
        <input
          type="checkbox"
          id="checkbox-completed"
          class="form-checkbox w-4 h-4 text-theme-primary dark:bg-theme-charcoal border border-theme-gray-light/25 focus:ring-0 focus:ring-offset-0" />
        <label
          for="checkbox-completed"
          class="w-full text-theme-dark/50 dark:text-theme-white/50 font-semibold line-through">
          Completed
        </label>
      </div>
    </div>
  </div>
  <!-- Text Fields -->
  <div>
    <h2 class="text-lg font-semibold text-theme-gray-light dark:text-theme-white mb-4">Text Fields</h2>
    <div class="space-y-4">
      <!-- Idle Text Field -->
      <div>
        <label
          for="text-idle"
          class="text-theme-gray-light dark:text-theme-white block mb-1">
          Text Field (Idle)
        </label>
        <input
          type="text"
          id="text-idle"
          placeholder="Enter task name"
          class="form-input w-full border border-theme-gray-light/25 text-theme-dark dark:text-theme-white placeholder:text-theme-dark/25 dark:placeholder:text-theme-white/25 dark:bg-theme-charcoal rounded-md px-4 py-2.5 focus:outline-none focus:ring-0 focus:border-theme-primary" />
      </div>
      <!-- Error Text Field -->
      <div>
        <label
          for="text-error"
          class="text-theme-gray-light dark:text-theme-white block mb-1">
          Text Field (Error)
        </label>
        <div class="relative">
          <input
            type="text"
            id="text-error"
            placeholder="Enter task name"
            class="form-input w-full border border-theme-red-dark text-theme-dark dark:text-theme-white placeholder:text-theme-dark/25 dark:placeholder:text-theme-white/25 dark:bg-theme-charcoal rounded-md px-4 py-2.5 focus:outline-none focus:ring-0 focus:border-theme-red-dark" />
          <p class="absolute right-3 top-1/2 transform -translate-y-1/2 text-theme-red-dark text-xs">Can’t be empty</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Dropdowns -->
  <div>
    <h2 class="text-lg font-semibold text-theme-gray-light dark:text-theme-white mb-4">Dropdown</h2>
    <div class="space-y-4">
      <!-- Idle Dropdown -->
      <div>
        <label
          for="dropdown-idle"
          class="text-theme-gray-light dark:text-theme-white block mb-1">
          Dropdown (Idle)
        </label>
        <select
          id="dropdown-idle"
          class="form-select w-full border text-theme-dark dark:text-theme-white border-theme-gray-light/25 placeholder:text-theme-dark/25 dark:placeholder:text-theme-white/25 dark:bg-theme-charcoal rounded-md px-4 py-2.5 focus:outline-none focus:ring-0 focus:border-theme-primary">
          <option>Todo</option>
          <option>Doing</option>
          <option>Done</option>
        </select>
      </div>
    </div>
  </div>
</div>
