<header class="flex items-stretch bg-theme-white dark:bg-theme-charcoal max-h-24">
  <div
    class="flex gap-4 items-center p-4 md:p-6 pr-0 md:pr-6 md:border-r border-theme-light-blue dark:border-theme-gray-dark"
    [ngClass]="{ 'md:w-72': sidebar(), 'w-auto md:border-b': !sidebar() }">
    <logo-icon></logo-icon>
    <p class="text-3xl font-extrabold hidden md:block">Kanban</p>
  </div>
  <div
    class="text-lg font-bold text-theme-dark dark:text-theme-white flex items-center gap-2 grow p-4 md:p-6 md:border-b border-theme-light-blue dark:border-theme-gray-dark"
    (click)="sidebarService.toggleSidebar()">
    <span>Platform Lauch</span>
    <div
      class="md:hidden text-theme-primary transition-transform duration-500"
      [class]="{ 'rotate-180': sidebar() }">
      <down-arrow-icon></down-arrow-icon>
    </div>
  </div>
</header>
