@if (!activeBoard()) {
  <section class="grid h-full w-full place-items-center text-center">
    <p class="text-theme-gray-light text-lg font-bold">Please select a board from the sidebar to get started.</p>
  </section>
}

@if (loading()) {
  <loading></loading>
} @else if (columns().length > 0) {
  <section
    cdkDropList
    [cdkDropListOrientation]="'horizontal'"
    (cdkDropListDropped)="drop($event)"
    class="dragdrop-list grid h-full w-full auto-cols-[280px] grid-flow-col items-stretch justify-stretch gap-4 overflow-x-auto">
    @for (column of columns(); track column.id; let i = $index) {
      <column
        class="dragdrop-item"
        cdkDrag
        [cdkDragData]="column"
        [column]="column"
        [color]="getColor(i)">
      </column>
    }
    <column-add></column-add>
  </section>
} @else {
  <section class="grid h-full w-full place-items-center text-center">
    <empty-board></empty-board>
  </section>
}
