<div class="flex gap-2 items-start justify-between">
  <h2 class="font-bold text-xl mb-4">Add New Column</h2>
  <div
    class="text-theme-gray-light cursor-pointer transition-colors hover:text-theme-red-dark"
    (click)="closeModal()">
    <close-icon></close-icon>
  </div>
</div>

<form
  class="flex flex-col gap-6 items-stretch max-w-full w-[500px]"
  [formGroup]="form">
  <div>
    <label
      for="text-idle"
      class="text-theme-gray-light text-sm font-bold dark:text-theme-white block mb-2">
      Column Name
    </label>
    <input
      type="text"
      id="text-idle"
      placeholder="e.g. Todo"
      class="w-full border border-theme-gray-light/25 text-theme-dark dark:text-theme-white placeholder:text-theme-dark/25 dark:placeholder:text-theme-white/25 dark:bg-theme-charcoal rounded-md px-4 py-2.5 focus:outline-none focus:ring-0 focus:border-theme-primary" />
  </div>

  <button class="bg-theme-primary w-full leading-6 text-theme-white py-2 px-8 rounded-full text-sm font-medium transition hover:bg-theme-secondary">Create Column</button>
</form>
