<button
  class="bg-theme-primary text-theme-white py-3 p-6 md:px-8 rounded-full font-medium transition hover:bg-theme-secondary"
  (click)="openCreateUpdateTaskModal()">
  <div class="flex gap-2 items-center">
    <plus-icon></plus-icon>
    <span class="hidden md:block">Add New Task</span>
  </div>
</button>
<button
  class="relative px-4 text-theme-gray-light hover:text-theme-primary transition-colors"
  (click)="toggleActionDropdown()">
  <ellipsis-icon></ellipsis-icon>
</button>

@if (actionDropdown()) {
  <div class="absolute flex flex-col items-start font-normal gap-4 right-4 top-16 md:top-20 w-40 p-4 bg-theme-white dark:bg-theme-darker text-theme-gray-light rounded-lg z-10">
    <p
      class="cursor-pointer hover:text-theme-primary transition-colors"
      (click)="openCreateUpdateTaskModal()">
      Edit Board
    </p>
    <p
      class="cursor-pointer hover:text-theme-red-dark transition-colors"
      (click)="openDeleteTaskModal()">
      Delete Board
    </p>
  </div>
}
