<button
  class="bg-theme-primary text-theme-white hover:bg-theme-secondary rounded-full p-6 py-3 font-medium transition md:px-8"
  (click)="openCreateTaskModal()">
  <div class="flex items-center gap-2">
    <plus-icon></plus-icon>
    <span class="hidden md:block">Add New Task</span>
  </div>
</button>

@if (activeBoard()) {
  <button
    class="text-theme-gray-light hover:text-theme-primary hover:bg-theme-light-gray dark:hover:bg-theme-darker relative rounded-full px-4 py-2 transition-colors"
    (click)="toggleActionDropdown()">
    <ellipsis-icon></ellipsis-icon>
  </button>
}

@if (actionDropdown()) {
  <div
    class="bg-theme-white dark:bg-theme-darker text-theme-gray-light absolute top-16 right-4 z-10 flex w-40 flex-col items-start gap-4 rounded-lg p-4 font-normal md:top-20">
    <p
      class="hover:text-theme-primary cursor-pointer transition-colors"
      (click)="openEditBoardModal()">
      Edit Board
    </p>
    <p
      class="hover:text-theme-red-dark cursor-pointer transition-colors"
      (click)="openDeleteBoardModal()">
      Delete Board
    </p>
  </div>
}
