<article
  class="group bg-theme-white dark:bg-theme-charcoal relative flex cursor-pointer flex-col gap-2 rounded-lg px-4 py-6 shadow-md"
  (click)="openTaskModal()">
  <h3 class="group-hover:text-theme-primary text-base font-bold transition-colors duration-300">{{ task().title }}</h3>
  <p class="text-theme-gray-light text-sm font-bold">
    {{ completedSubtasks().length }} of {{ subtasks().length }} substasks
  </p>
  <button
    cdkDragHandle
    class="text-theme-gray-light hover:text-theme-primary hover:bg-theme-light-gray dark:hover:bg-theme-darker absolute top-2 right-2 cursor-move rounded-full px-4 py-2 transition-colors"
    (click)="$event.stopPropagation()">
    <ellipsis-icon></ellipsis-icon>
  </button>
</article>
