<article
  class="bg-theme-white dark:bg-theme-charcoal mx-auto flex w-full flex-col gap-2 rounded-lg p-8 shadow-lg md:w-[400px]">
  <div class="border-theme-light-blue dark:border-theme-gray-dark mx-auto mt-0 mb-8 flex items-center gap-4">
    <logo-icon class="scale-125"></logo-icon>
    <p class="text-4xl font-extrabold md:text-5xl">Kanban</p>
  </div>

  <form
    class="flex max-w-full flex-col items-stretch gap-6"
    [formGroup]="form"
    (ngSubmit)="submit()">
    <div>
      <label
        for="name"
        class="text-theme-gray-light dark:text-theme-white mb-2 block text-sm font-bold">
        Name
      </label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="border-theme-gray-light/25 text-theme-dark dark:text-theme-white placeholder:text-theme-dark/25 dark:placeholder:text-theme-white/25 dark:bg-theme-charcoal focus:border-theme-primary w-full rounded-md border px-4 py-2.5 focus:ring-0 focus:outline-none" />
    </div>

    <div>
      <label
        for="email"
        class="text-theme-gray-light dark:text-theme-white mb-2 block text-sm font-bold">
        Email
      </label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="border-theme-gray-light/25 text-theme-dark dark:text-theme-white placeholder:text-theme-dark/25 dark:placeholder:text-theme-white/25 dark:bg-theme-charcoal focus:border-theme-primary w-full rounded-md border px-4 py-2.5 focus:ring-0 focus:outline-none" />
    </div>

    <div>
      <label
        for="password"
        class="text-theme-gray-light dark:text-theme-white mb-2 block text-sm font-bold">
        Password
      </label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="border-theme-gray-light/25 text-theme-dark dark:text-theme-white placeholder:text-theme-dark/25 dark:placeholder:text-theme-white/25 dark:bg-theme-charcoal focus:border-theme-primary w-full rounded-md border px-4 py-2.5 focus:ring-0 focus:outline-none" />
    </div>

    <button
      type="submit"
      class="bg-theme-primary text-theme-white hover:bg-theme-secondary disabled:bg-theme-primary/20 w-full cursor-pointer rounded-full px-8 py-2 text-sm leading-6 font-medium transition disabled:cursor-not-allowed"
      [disabled]="loading()">
      {{ loading() ? 'loading...' : 'Sign Up' }}
    </button>
  </form>

  <div class="mt-6 self-center">
    <dark-mode></dark-mode>
  </div>
</article>
