.board-active::before, .board-hover:hover::before {
  content: '';
  position: absolute;

  width: 2rem;
  height: 100%;
  
  top: 0;
  left: -32px;
}

.board-active::before {
  @apply bg-theme-primary 
}

.board-hover:hover::before {
  @apply bg-theme-primary/10 dark:hover:bg-theme-white
}
