<aside class="relative w-72 flex flex-col gap-6 md:h-full rounded-lg md:rounded-none p-6 bg-theme-white dark:bg-theme-charcoal md:border-r border-theme-light-blue dark:border-theme-gray-dark">
  <p class="text-theme-gray-light text-sm font-bold tracking-widest">ALL BOARDS (3)</p>
  <section class="flex flex-col gap-2">
    <div class="board-active relative flex items-center gap-3 bg-theme-primary p-3 rounded-r-full text-theme-white cursor-pointer">
      <board-icon></board-icon>
      <p class="font-bold">Platform Lauch</p>
    </div>
    <div class="relative flex items-center gap-3 text-theme-gray-light p-3 rounded-r-full transition-colors cursor-pointer hover:text-theme-primary">
      <board-icon></board-icon>
      <p class="font-bold">Marketing Plan</p>
    </div>
    <div class="relative flex items-center gap-3 text-theme-gray-light p-3 rounded-r-full transition-colors cursor-pointer hover:text-theme-primary">
      <board-icon></board-icon>
      <p class="font-bold">Roadmap</p>
    </div>
    <div class="relative flex items-center gap-3 text-theme-primary p-3 rounded-r-full transition-colors cursor-pointer">
      <board-icon></board-icon>
      <div class="flex gap-0.5 items-center">
        <plus-icon></plus-icon>
        <p class="font-bold">Create New Board</p>
      </div>
    </div>
  </section>

  <section class="flex items-center justify-center gap-2 w-full bg-theme-light-gray dark:bg-theme-darker px-4 py-3 rounded-lg text-theme-gray-light md:mt-auto">
    <sun-icon></sun-icon>
    <div
      class="bg-theme-primary w-12 h-7 rounded-2xl flex items-center p-1 cursor-pointer"
      (click)="darkModeService.toggleDarkMode()">
      <div
        class="rounded-full bg-theme-white w-5 h-5 transition-transform"
        [class]="{ 'translate-x-5': darkMode() }"></div>
    </div>
    <moon-icon></moon-icon>
  </section>

  <section
    class="hidden md:flex gap-2 items-center text-theme-gray-light transition-colors cursor-pointer hover:text-theme-primary"
    (click)="sidebarService.toggleSidebar()">
    <hide-icon></hide-icon>
    <p class="text-sm font-bold">Hide Sidebar</p>
  </section>
</aside>
