<div class="flex gap-2 items-center mb-6">
  <div class="bg-[#49C4E5] rounded-full w-4 h-4"></div>
  <span class="font-bold tracking-widest text-theme-gray-light">TODO (4)</span>
</div>

<section class="flex flex-col gap-4 h-[calc(100dvh-12rem)] pb-4 overflow-y-auto">
  <task-card></task-card>
  <task-card></task-card>
  <task-card></task-card>
  <task-card></task-card>
  <task-card></task-card>
  <task-card></task-card>
  <task-card></task-card>
  <task-card></task-card>
  <task-card></task-card>
  <task-card></task-card>
  <task-card></task-card>
  <task-card></task-card>
  <task-card></task-card>
  <task-card></task-card>
  <task-card></task-card>
  <task-card></task-card>
  <task-card></task-card>
  <task-card></task-card>
</section>
