@import '@angular/cdk/overlay-prebuilt.css';
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui;
  --color-theme-dark: #000112;
  --color-theme-darker: #20212C;
  --color-theme-charcoal: #2B2C37;
  --color-theme-gray-dark: #3E3F4E;
  --color-theme-gray-light: #828FA3;
  --color-theme-light-blue: #E4EBFA;
  --color-theme-light-gray: #F4F7FD;
  --color-theme-white: #FFFFFF;
  --color-theme-primary: #635FC7;
  --color-theme-secondary: #A8A4FF;
  --color-theme-red-dark: #EA5555;
  --color-theme-red-light: #FF9898;
  --custom-gradient: to right, rgba(233, 239, 250, 1) 0%, rgba(233, 239, 250, 0.5) 100%;
  --custom-gradient-dark: 180deg, rgba(43,44,55,1) 100%, rgba(43,44,55,0.5) 100%;
}

.swal2-toast {
  @apply text-theme-darker! bg-theme-white! dark:bg-theme-dark! dark:text-white!;   
}

